body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: #424242;
    color: rgba(255,255,255,0.87);
}

select {
    background-color: #F5F5F5;
    color: rgba(0,0,0,0.87);
    border: 1px dotted #808080;
}

select > option {
    margin: 2px;
}
